.yes{
    text-align: center;
    padding-top: 50px;
    text-align: center;
    color:#FF5959;
    font-weight: 700;
    font-size: 45px;
}

.jihad{
    color:#FF5959;
    margin-top: 130px;
background: #FFF8F3;
border-radius: 10px;
padding: 130px 150px;
text-align: center;
justify-content: center;
}